/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}


.column.login {
  max-width: 450px;
}

.button.login {
    margin-top: 25px;
}

.control-label {
  padding: 10px 0;
}

.ui.segment {
  border: none;
  box-shadow: none;
}

.ui.vertical.menu {
  margin: 5px;
}

.align-center {
  margin: 0 auto;
  width: 280px;
}

.ui.success.message {
  margin: 10px;
}

a.clients {
  color: black;
}

a.clients:hover {
  color: #1678c2;
}


/* Change defaults
------------------------- */

.page-header {
    border-bottom: 1px solid #C5BFBF;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }


/*
* Clearfix for float and utils
* ----------------------------------
*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
